<!DOCTYPE html>
<html lang="en" class="h-full overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title><%- title %></title>
    <meta name="title" content="<%- title %>" />
    <meta name="description" content="<%- description %>" />
    <script type="module" src="/src/main.tsx"></script>
  </head>
  <body
    class="flex h-full min-w-[20rem] flex-col bg-white font-poppins text-gray-900 dark:bg-slate-900 dark:text-slate-100"
  ></body>
</html>
