<!DOCTYPE html>
<html lang="en" class="h-full overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title><%- title %></title>
    <meta name="title" content="<%- title %>" />
    <meta name="description" content="<%- description %>" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%- url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:image" content="<%- url %>/placeholder-social.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ny1am.github.io" />
    <meta property="twitter:url" content="<%- url %>" />
    <meta name="twitter:title" content="<%- title %>" />
    <meta name="twitter:description" content="<%- description %>" />
    <meta name="twitter:image" content="<%- url %>/placeholder-social.jpg" />

    <script type="module" src="/src/main.tsx"></script>
  </head>
  <body
    class="flex h-full min-w-[20rem] flex-col bg-white font-poppins text-gray-900 dark:bg-slate-900 dark:text-slate-100"
  ></body>
</html>
