@tailwind base;
@layer base {
  button {
    @apply focus-ring ring-offset-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  textarea,
  input[type] {
    @apply bg-inherit;
  }
}

@tailwind components;
@layer components {
  #__next {
    @apply flex h-full flex-col;
  }

  .focus-ring {
    @apply focus:ring-indigo-300;
  }

  .border-primary {
    @apply border border-slate-700;
  }

  .bg-primary {
    @apply bg-slate-900;
  }

  * {
    color-scheme: dark;
  }
}

@tailwind utilities;

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.pattern-bg {
  background-image: linear-gradient(#110100 1.5px, transparent 1.5px),
    linear-gradient(to right, #110100 1.5px, transparent 1.5px);
  background-size: 20px 20px;
  background-position: right 25px bottom 8px;
}
